@use '../../variables' as *;
.about-me {
  text-align: left; // Align text left
  color: $text-color;
  max-width: 800px;
  margin: 20px auto 20px 40px; // Move it to left side
  padding: 20px 30px;
  min-height: 100vh;


  h2 {
    font-size: 2rem;
    color: $primary-accent;
    margin-bottom: 15px;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
    color: $text-color;
    line-height: 1.8;
  }
}