@use '../../variables' as *;
.about-me {
   position: relative;
  text-align: left;
  max-width: 800px;
  margin-left: 40px; // move block to left side
  margin-right: 0;
  padding: 100px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $text-color;

  h1 {
    font-size: 2.5rem;
    color: $primary-accent;
    margin-bottom: 20px;

    .highlight {
      color: $secondary-accent;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: $text-color;
  }

  .typed-container {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-accent;
    border-left: 3px solid $secondary-accent;
    padding-left: 15px;
    margin-bottom: 20px;
  }
}
.hire-me-button {
  width:17%;
  background-color: $primary-accent;
  border: none;
  padding: 12px 24px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hire-me-button:hover {
  background-color: $secondary-accent;
  box-shadow: 0 0 10px $secondary-accent;
  color: #0d0d0d; // makes text dark on hover for contrast (optional)
}
.scroll-down-indicator {
   position: absolute;
  bottom: 40px; // distance from bottom of the section
  left: 100%;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.3); // very light color
  text-align: center;
  margin-top: 40px;
  animation: bounce 2s infinite;
  cursor: default;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}
.about-stats {
    position: absolute;
    top:60%;;
    bottom: 40px;
    left: 200%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
      white-space: nowrap; 
      text-align: right;

    .stat {
      .number {
        font-size: 1.5rem;
        color: $secondary-accent;
      }

      .label {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  @keyframes pulse {
    0%, 100% {
      transform: translateX(-50%) scale(1);
      opacity: 0.6;
    }
    50% {
      transform: translateX(-50%) scale(1.2);
      opacity: 1;
    }
  }
