@use '../../variables' as *;

footer {
  text-align: center;
  padding: 20px;
  background-color: $section-bg;
  border-top: 2px solid $primary-accent;
  color: $secondary-accent;
  font-size: 0.9rem;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(155, 93, 229, 0.4);
  transition: color 0.3s ease;
}

footer:hover {
  color: #fff;
}
