@use '../../variables' as *;

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: $section-bg;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(155, 93, 229, 0.4);
}

.hero-section h1 {
  overflow: hidden;
  border-right: .15em solid $primary-accent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  font-size: 2rem;
  color: $primary-accent;
}

.hero-section p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: $text-color;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary-accent; }
}
