@use '../../variables' as *;

.education {
  background-color: $section-bg;
  padding: 60px 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(155, 93, 229, 0.4);

  h2 {
    color: $primary-accent;
  }

  p {
    margin-top: 10px;
    color: $text-color;
  }
}
