@use '../../variables' as *;

.experience {
  background-color: $section-bg;
  padding: 60px 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(155, 93, 229, 0.4);

  h2 {
    color: $primary-accent;
  }

  h3 {
    margin-top: 15px;
    color: $secondary-accent;
  }

  p {
    font-style: italic;
    margin: 5px 0 15px;
    color: $text-color;
  }

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 8px;
      position: relative;
      padding-left: 20px;

      &::before {
        content: "➤";
        position: absolute;
        left: 0;
        color: $secondary-accent;
      }
    }
  }
}
